
@import 'variables.scss';
@import './Header/header.scss';
@import './form/form';

@import './rental/rental-listing.scss';
@import './rental/rental-detail.scss';

.clickableAnchor {
    cursor: pointer;
}

.page-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px
}

.apartment {
    color: #a72da3; 
}

.house {
    color: #bf1818;
}

.condo {
    color: #d68000;
}

.btn-bwm {
    background-color: $main-color; 
    border-color: $main-color;
    color: white;
    padding: 15px 30px;
    font-size: 20px;

    &:hover, &:focus, &:active{
        background-color: $main-color !important;
        border-color: $main-color !important;
    }

}